{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Cadastro</h1>
        <br>
        {% if registrationMessage is not null and registrationMessage is not empty %}
            <div class="alert alert-{{ messageType }}" role="alert">
                {{ registrationMessage|raw }} {# Usar 'raw' porque 'registrationMessage' pode conter <br> #}
            </div>
        {% endif %}
        <form action="{{ path('app_register_process') }}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="full_name" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="full_name" name="full_name" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirmação da Senha</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <br>
        <a href="{{ path('app_home') }}"><button type="button" class="btn btn-secondary">Voltar</button></a>
    </div>
{% endblock %}